# Path to knowledge DB
CHROMA_PATH="knowledge_library"

# Path to knowledgebase
DATA_PATH="knowledge_base"

# Ollama Model
LLAMA_MODEL="llama3.2:3b"

# Sentence Transformer Model
MODEL_PATH="model"
TRANSFORMER_MODEL="sentence-transformers/all-mpnet-base-v2"

# TTS Model
TTS_MODEL="tts_models/en/ljspeech/speedy-speech"
# "tts_models/en/ljspeech/glow-tts"
# "tts_models/en/ljspeech/tacotron2-DDC"
# "tts_models/en/ljspeech/fast_pitch"